h2{
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

h6{
    margin-bottom: 2px;

}

div{
    //margin-left: -100px;

}

img{
    width: 340px;
    height: 220px;
}